.hello{
width: 270px;
height: 330px;
margin-top: 80px;
border-radius: 30px;
background-color: #747476;
// opacity: 30%;
// backdrop-filter:blur(190px);
}
.button__link_teleg{
    width: 270px;
    height: 50px;
    background-color: greenyellow;
    border-radius: 20px;
    margin-top: 15px;
}